.box{
    color: white;
    background-color: #333;
    font-size: 16;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}

.btn{
    border-radius: 10px;
    background-color: #0d6efd;
    padding: 15px;
    margin: 0px 5px;
}

.btn a{
    color: white;
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 16px 10px;
    font-size: 18px;
}

.topnav a:hover{
    text-decoration: underline;
    background-color: #3E3636;
}

.p-0{
    padding: 0;
}

.left{
    width: 200px;
    float: left;
    display: flex;
}

.right {
    position: absolute;
    right: 0%;
    float: right;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.bb{
    padding: 10px;
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
}

body{
    margin: 0;
}

.contact{
    display: block;
    padding: 10px;
    max-width: 400px;
    margin: 10px;
    color: white;
    
}

.contact li{
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

.contact li a{
    color: white;
}

.card{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    /* border: 5px; */
    padding: 5px;
}

.card-element{
    /* display: block; */
    min-width: 300px;
    height: 400px;
    background-color: white;
    border-color: black;
    padding: 5px;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#demo-img{
    /* margin: 15px 10px; */
    /* margin-left: 50px; */
    width: 200px;
    height: 150px;
    background-color: #888888;
}